<!DOCTYPE html>
<html lang="de">
	<head>
	 	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
		<title>Alexander Rohrig</title>
	</head>
	<body>
		<h2>Alexander Rohrig</h2>
		<h3>Projekte</h3>
		<ul>
			<li><a href="https://peopleinaction.us">People in Action</a></li>
			<li>Music Story [Beta]</li>
			<li>Water Club [<a href="https://apps.apple.com/us/app/water-club/id1316182475?ls=1">iOS</a>]</li>
			<li><a href="/ratings">Ratings</a></li>
			<li>Animal Countdown [<a href="https://apps.apple.com/us/app/animal-countdown/id1117537696?ls=1">iOS</a> | <a href="https://apps.apple.com/us/app/animal-countdown/id1117246590?ls=1&mt=12">macOS</a>]</li>
		</ul>
	
		<h3>Ich</h3>
		<ul>
			<li>iOS, watchOS, macOS, tvOS & Web Programmierer</li>
			<li>Informatik an der University of North Texas</li>
			<li>Ehemalig Campus Organizer für The Humane League</li>
			<li>Disney College Program</li>
            <li><a href="/partenope">Meine Insel</a></li>
		</ul>
		
		<h3>Berührung</h3>
		<ul>
			<li>Email: me@alexanderrohrig.com</li>
			<li>Twitter: <a href="https://twitter.com/jawazan">@jawazan</a></li>
			<li><a href="https://www.buymeacoffee.com/BeAQzFbUP">Kauf mich einen Espresso bitte.</a></li>
		</ul>
		
		<img src="images/IMG_6564.jpeg">
	
        <p><a href="/">🇺🇸</a> -- <a href="/it">🇮🇹</a> -- <a href="/de">🇩🇪</a> -- <a href="/zh">🇨🇳</a></p>

	</body>
</html>