<!DOCTYPE html>
<html lang="it">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <meta charset="UTF-8">
		<title>Alessandro Rohrig</title>
		<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
	</head>
	<body>
		<h2>Alessandro Rohrig</h2>
		<h3>progetti</h3>
		<ul>
			<li><a href="https://peopleinaction.us">People in Action</a></li>
			<li>Music Story [Beta]</li>
			<li>Water Club [<a href="https://apps.apple.com/us/app/water-club/id1316182475?ls=1">iOS</a>]</li>
			<li>Ratings [indisponibile]</li>
			<li>Animal Countdown [<a href="https://apps.apple.com/us/app/animal-countdown/id1117537696?ls=1">iOS</a> | <a href="https://apps.apple.com/us/app/animal-countdown/id1117246590?ls=1&mt=12">macOS</a>]</li>
		</ul>
	
		<h3>a proposito di me</h3>
		<ul>
			<li>iOS, watchOS, macOS, tvOS, & web sviluppatore</li>
			<li>informatica all'Università di Nord Texas</li>
			<li>ex Campus Organizer per The Humane League</li>
			<li>ex Disney College Program</li>
			<li><a href="/partenope">la mia isola</a></li>
		</ul>
		
		<h3>contatto</h3>
		<ul>
			<li>email: me@alexanderrohrig.com</li>
			<li>twitter: <a href="https://twitter.com/jawazan">@jawazan</a></li>
			<li><a href="https://www.buymeacoffee.com/BeAQzFbUP">prego, compri un caffè</a></li>
		</ul>
		
		<img src="images/IMG_6564.jpeg">
		
		<p><a href="/">🇺🇸</a> -- <a href="/it">🇮🇹</a> -- <a href="/de">🇩🇪</a> -- <a href="/zh">🇨🇳</a></p>
	
	</body>
</html>