<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Alexander Rohrig</title>
        <link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
	</head>
	<body>
		<h2>Alexander Rohrig</h2>
		<h3><a href="/projects">Projects</a></h3>
		<ul>
			<li>Fish Camp [<a href="https://github.com/Nsfwood/fishcamp/releases">macOS</a>]</li>
			<li><a href="/randomcity">Random City</a></li>
			<li>GG [Beta]</li>
			<li>Palette [<a href="https://github.com/Nsfwood/taiyuan/releases">macOS</a>]</li>
			<li>Lines [Alpha]</li>
			<li><a href="https://peopleinaction.us">People in Action</a></li>
			<li>Water Club [<a href="https://apps.apple.com/us/app/water-club/id1316182475?ls=1">iOS</a>]</li>
			<li><a href="/ratings">Ratings</a></li>
			<li>Animal Countdown [<a href="https://apps.apple.com/us/app/animal-countdown/id1117537696?ls=1">iOS</a> | <a href="https://apps.apple.com/us/app/animal-countdown/id1117246590?ls=1&mt=12">macOS</a>]</li>
		</ul>
	
		<h3>About Me</h3>
		<ul>
			<li>iOS, watchOS, macOS, tvOS, & web developer</li>
			<li>Computer Science at University of North Texas</li>
			<li>Former Campus Organizer for The Humane League</li>
			<li>Disney College Program alum</li>
			<li><a href="/partenope">My Island</a></li>
		</ul>
		
		<h3>Contact</h3>
		<ul>
			<li>email: me@alexanderrohrig.com</li>
			<li>twitter: <a href="https://twitter.com/jawazan">@jawazan</a></li>
			<li><a href="https://www.buymeacoffee.com/BeAQzFbUP">Buy me an espresso.</a></li>
			<li><a href="/translationhelp">Help With Translations</a></li>
		</ul>
		
		<img src="images/IMG_6564.jpeg">
		
		<p><a href="/sscnapoli">Calcio</a> -- <a href="/astros">Baseball</a></p>

        <p><a href="/">🇺🇸</a> -- <a href="/it">🇮🇹</a> -- <a href="/de">🇩🇪</a> -- <a href="/zh">🇨🇳</a></p>
	
	</body>
</html>