<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inside</title>
        <link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
	</head>
	<body>
		<ul>
			<li>Google Cloud Platform</li>
			<li>Hover</li>
			<li>Buy Me a Coffee</li>
			<li>Fiverr</li>
			<li>Contentful</li>
			<li>GitHub</li>
			<li>Apple Developer</li>
			<li>CloudKit</li>
			<li>Random City</li>
			<li>Random Stock</li>
			<li>LEO</li>
			<li>SSC Napoli</li>
			<li>Houston Astros</li>
			<li>Zandy Pokal</li>
			<li>Projects</li>
			<li>Help with Translations</li>
		</ul>
	</body>
</html>