<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
		<title>Partenope Board of Tourism</title>
	</head>
	<body>
		<h2>Partenope Board of Tourism</h2>
		<h3>Our Island</h3>
		<img src="images/PRT001.jpg" style="width: 300px;">
		<p>Partenope is home to a diverse array of wildlife, an extensive museum, and a beautiful town with several stores and an open market.</p>
		<img src="images/PRT002.jpg" style="width: 600px;">
		<p>Our Representative, Alexander, works with all Partenope villagers to build the best island possible.
		<h3>Our Airport</h3>
		<p>SW-8313-3428-2224</p>
		<p>Partenope Airport, PRT, is serviced by Dodo Airlines with regular flights. Book your flight below.</p>
		<img src="images/PRT003.png" style="width: 100px;">
		<form action="" method="POST">
			<label for="name">Passenger Name:</label>
			<input type="name" name="name">
			
			<label for="friendCode">Frequent Flier Number (Friend Code):</label>
			<input type="text" name="friendCode" placeholder="0000-1111-2222">
			<br>
			
			<label for="from">From:</label>
			<input type="text" name="from">
			
			<label for="to">To:</label>
			<input type="text" name="from" placeholder="Partenope (PRT)" readonly>
			
			<label for="date">Date:</label>
			<input type="datetime-local" name="date">
			<br>
			
			<input type="submit" value="Book Flight">
	</form>
		<h3>Our Economy</h3>
		<p>Partenope benefits from a strong Stalk Market and inter-island turnip trading is encouraged.</p>
	</body>
</html>