<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
        <title>Projects</title>
	</head>
	<body>
		<h2>Taiyuan</h2>
		<p>In Alpha</p>
		<progress value=70 max=100></progress>
		<p><a href="https://github.com/Nsfwood/taiyuan">GitHub</a></p>
	
		<h2>Animal Countdown</h2>
		<p>Released</p>
		<progress value=100 max=100></progress>
	
		<h2>People in Action</h2>
		<p>In Beta</p>
		<progress value=80 max=100></progress>
	
		<h2>Lines</h2>
		<p>In Alpha</p>
		<progress value=57 max=100></progress>
		<p><a href="https://github.com/Nsfwood/stocks">GitHub</a></p>
		
		<h2>Bucharest</h2>
		<p>In Alpha</p>
		<progress value=5 max=100></progress>
		
		<h2>Ratings</h2>
		<p>No Longer in Development</p>
		<progress value=100 max=100></progress>
		
		<h2>Water Club</h2>
		<p>No Longer in Development</p>
		<progress value=100 max=100></progress>
		
		<h2>Music Story</h2>
		<p>No Longer in Development</p>
		<progress value=75 max=100></progress>
	</body>
</html>