<!DOCTYPE html>
<html lang="en">
<head>

<!Developed and Maintained by Alexander Rohrig>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset='utf-8'>

<!Images>
<link rel="icon" type="image/png" href="/images/favIcon.png"> <!Favicon>
<link rel="apple-touch-icon-precomposed" href="/images/touchIcon.png"> <!Apple Web Icon>
<link rel='mask-icon' href='/images/maskIcon.svg' color='#EB3D00'> <!Apple Pinned Tab Icon>

<!Scripts>
<script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>

<title>Ratings</title>
</head>

<body>

<div class="content">
	<h1 id="title"><a href="/">Ratings</a></h1>
	<h2 class="section-title">Films</h2>
	<div id="concontent">
		<script type="text/javascript" src="myratings.js"></script>
	</div>
	<p>📽 - Seen in a theater</p>
	<p>I will not make a search bar because you can just use Find on Page.</p>
</div>

</body>
</html>