<!DOCTYPE html>
<html lang="it">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>SSC Napoli</title>
	</head>
	<body>
		<h2>SSC Napoli</h2>
	
		<h3>Classifica</h3>
		<iframe frameborder="0"  scrolling="no" width="520" height="520" src="https://www.fctables.com/italy/serie-a/iframe/?type=table&lang_id=5&country=108&template=17&team=&timezone=America/Los_Angeles&time=24&po=1&ma=1&wi=1&dr=1&los=1&gf=0&ga=0&gd=1&pts=1&ng=0&form=0&width=520&height=700&font=Helvetica&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=0&ths=1&thb=0&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=0&hfb=0&hbc=3bafda&hfc=FFFFFF"></iframe><div style="text-align:center;"></div>
		
		<h3>Palmarès</h3>
		<p>2019-2020 Coppa Italia</p>
		<p>2013-2014 Supercoppa Italiana</p>
		<p>2013-2014 Coppa Italia</p>
		<p>2011-2012 Coppa Italia</p>
		<p>1990-1991 Supercoppa Italiana</p>
		<p>1989-1990 Campionato Italiano</p>
		<p>1988-1989 Coppa UEFA</p>
		<p>1986-1987 Campionato Italiano</p>
		<p>1986-1987 Coppa Italia</p>
		<p>1976 Coppa di Lega Anglo-Italiana</p>
		<p>1975-1976 Coppa Italia</p>
		<p>1965-1966 Coppa Delle Alpi</p>
		<p>1961-1962 Coppa Italia</p>
	
	</body>
</html>