<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zandy Pokal</title>
</head>
<body>
	<img src="images/zp.png" style="width: 150px;">
	<p><a href="#rules">Rules</a> - <a href="#members">Members</a> - <a href="#stats">Statistics</a></p>
	<p>Seasons: <a href="#2">Zandy Pokal II (Current Season)</a> - <a href="#1">Zandy Pokal I</a>
	
	
	<p id="2">Zandy Pokal II (Current Season) - Round 11</p><img src="images/zp2.png" style="width: 75px;">
	<table>
		<tr><th></th><th>Pos</th><th>Name</th><th>Wins</th><th>Draws</th><th>Losses</th><th>Pts</th></tr>
		
		<tr><td>⏺</td><td>1</td><td>Manchester City</td><td>9</td><td>1</td><td>0</td><td>28</td></tr>
		
		<tr><td></td> <td>2</td><td>Olympique de Marseille</td><td>8</td><td>2</td><td>0</td><td>26</td></tr>
		
		<tr><td>⏺</td><td>3</td><td>Hertha BSC</td><td>8</td><td>1</td><td>1</td><td>25</td></tr>
		
		<tr><td></td> <td>4</td><td>CSKA Moscow</td><td>7</td><td>0</td><td>2</td><td>21</td></tr>
		
		<tr><td>⏺</td><td>5</td><td>SSC Napoli</td><td>6</td><td>3</td><td>1</td><td>21</td></tr>
		
		<tr><td></td> <td>6</td><td>FC Barcelona</td><td>6</td><td>3</td><td>0</td><td>21</td><td></td></tr>
		
		<tr><td></td> <td>7</td><td>Lecce</td><td>5</td><td>1</td><td>4</td><td>16</td></tr>	
		
		<tr><td>⏺</td><td>8</td><td>Union Berlin</td><td>5</td><td>0</td><td>4</td><td>15</td></tr>
		
		<tr><td></td> <td>9</td><td>FC Utrecht</td><td>4</td><td>1</td><td>4</td><td>13</td></tr>
		
		<tr><td>⏺</td><td>10</td><td>TSV 1860 München</td><td>3</td><td>2</td><td>5</td><td>11</td></tr>
		
		<tr><td></td> <td>11</td><td>US Salernitana 1919</td><td>3</td><td>0</td><td>6</td><td>9</td></tr>
		
		<tr><td></td> <td>12</td><td>Dalian Yifang</td><td>2</td><td>1</td><td>6</td><td>7</td></tr>
		
		<tr><td></td> <td>13</td><td>Argentinos Juniors</td><td>1</td><td>2</td><td>7</td><td>5</td></tr>
		
		<tr><td></td> <td>14</td><td>Forest Green Rovers FC</td><td>1</td><td>2</td><td>6</td><td>5</td></tr>
		
		<tr><td></td> <td>15</td><td>Dynamo Dresden</td><td>1</td><td>1</td><td>7</td><td>4</td></tr>
		
		<tr><td></td> <td>16</td><td>Wuhan Zall FC</td><td>0</td><td>2</td><td>7</td><td>2</td></tr>
		
		<tr><td>⏺</td><td>17</td><td>Houston Dynamo</td><td>0</td><td>0</td><td>9</td><td>0</td></tr>
	</table>
	<ul>
		<li>👑 - Champion</li>
		<li>⏺ - Permanent Member</li>
		<li>❌ - Relegated</li>
	</ul>
	
	
	<p id="1">Zandy Pokal I</p><img src="images/zp1.png" style="width: 75px;">
	<table>
		<tr>
			<th></th>
			<th>Pos</th>
			<th>Name</th>
			<th>Wins</th>
			<th>Draws</th>
			<th>Losses</th>
			<th>Pts</th></tr>
		<tr>
			<td>👑</td>
			<td>1</td>
			<td>FC Barcelona</td>
			<td>31</td>
			<td>1</td>
			<td>2</td>
			<td>94</td>
			<td></td></tr>
		<tr>
			<td>⏺</td>
			<td>2</td>
			<td>Manchester City</td>
			<td>30</td>
			<td>1</td>
			<td>3</td>
			<td>91</td>
		</tr>
			
		<tr>
			<td></td>
			<td>3</td>
			<td>Olympique de Marseille</td>
			<td>29</td>
			<td>1</td>
			<td>4</td>
			<td>88</td></tr>
		<tr>
			<td>⏺</td>
			<td>4</td>
			<td>SSC Napoli</td>
			<td>27</td>
			<td>6</td>
			<td>1</td>
			<td>87</td></tr>
		<tr>
			<td>⏺</td>
			<td>5</td>
			<td>Hertha BSC</td>
			<td>21</td>
			<td>5</td>
			<td>8</td>
			<td>68</td></tr>
		<tr>
			<td>⏺</td>
			<td>6</td>
			<td>Union Berlin</td>
			<td>18</td>
			<td>2</td>
			<td>14</td>
			<td>56</td></tr>
		<tr>
			<td></td>
			<td>7</td>
			<td>Lecce</td>
			<td>15</td>
			<td>8</td>
			<td>11</td>
			<td>53</td></tr>
		<tr>
			<td></td>
			<td>8</td>
			<td>CSKA Moscow</td>
			<td>14</td>
			<td>7</td>
			<td>13</td>
			<td>49</td></tr>
		<tr>
			<td></td>
			<td>9</td>
			<td>FC Utrecht</td>
			<td>14</td>
			<td>7</td>
			<td>13</td>
			<td>49</td></tr>
		<tr>
			<td></td>
			<td>10</td>
			<td>Dalian Yifang</td>
			<td>13</td>
			<td>4</td>
			<td>17</td>
			<td>43</td></tr>
		<tr>
			<td></td>
			<td>11</td>
			<td>Dynamo Dresden</td>
			<td>10</td>
			<td>6</td>
			<td>18</td>
			<td>36</td></tr>
		<tr>
			<td>⏺</td>
			<td>12</td>
			<td>Houston Dynamo</td>
			<td>9</td>
			<td>7</td>
			<td>18</td>
			<td>34</td></tr>
		<tr>
			<td></td>
			<td>13</td>
			<td>Argentinos Juniors</td>
			<td>9</td>
			<td>4</td>
			<td>21</td>
			<td>31</td></tr>
		<tr>
			<td>❌</td>
			<td>14</td>
			<td>Rodez AF</td>
			<td>8</td>
			<td>3</td>
			<td>23</td>
			<td>27</td></tr>
		<tr>
			<td>❌</td>
			<td>15</td>
			<td>Karlsruher SC</td>
			<td>7</td>
			<td>3</td>
			<td>24</td>
			<td>24</td></tr>
		<tr>
			<td>❌</td>
			<td>16</td>
			<td>AS Livorno Calcio</td>
			<td>5</td>
			<td>8</td>
			<td>21</td>
			<td>23</td></tr>
		<tr>
			<td>❌</td>
			<td>17</td>
			<td>Hansa Rostock</td>
			<td>4</td>
			<td>6</td>
			<td>24</td>
			<td>18</td></tr>
		<tr>
			<td>⏺</td>
			<td>18</td>
			<td>TSV 1860 München</td>
			<td>1</td>
			<td>3</td>
			<td>30</td>
			<td>6</td></tr>
	</table>
	<ul>
		<li>👑 - Champion</li>
		<li>⏺ - Permanent Member</li>
		<li>❌ - Relegated</li>
	</ul>
	
	<p id="rules">Rules</p>
	<ol id="rules">
		<li>Permanent membership allotment is at sole discretion of Zandy leadership.</li>
		<li>Relegation of bottom five teams, except permanent members, out of Zandy Pokal.</li>
		<li>Promotion is determined solely by Zandy leadership.</li>
		<li>League is comprised of six to twenty teams playing each other twice.</li>
		<li>Five substitutes are allowed on the bench per game, three substitutions can be used per game.</li>
	</ol>
	
	<p id="members">Permanent Members</p>
	<ul>
		<li>SSC Napoli given permanent membership due to family ancestry of Zandy leadership.</li>
		<li>Manchester City FC given permanent membership due to their work introducing football to new generations.</li>
		<li>TSV 1860 München given permanent membership as a tribute to Werner Fette.</li>
		<li>1. FC Union Berlin and Hertha BSC given permanent memberships due to the previous headquarters of Zandy leadership.</li>
		<li>Houston Dynamo given permanent membership due to the previous headquarters of Zandy leadership.</li>
	</ul>
	
	<p id="stats">Statistics</p>
	<ul>
		<li>Point Record - FC Barcelona (I) - 94</li>
		<li>Goal Record - SSC Napoli (I) - 107</li>
		<li>Best Defensive Record - FC Barcelona (I) - 13</li>
		<li>Lowest Point Record - TSV 1860 München (I) - 6</li>
		<li>Top Scorer Record - Luis Suárez - FC Barcelona (I) - 31</li>
		<li>Clean Sheet Record - Marc-André ter Stegen - FC Barcelona (I) - 25</li>
	</ul>
</body>
</html>