<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
	 	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>亚历山大·罗里格</title>
		<link type="text/css" rel="stylesheet" href="/static/zandyCSS.css">
	</head>
	<body>
		<h2>亚历山大·罗里格</h2>
		<h3>计划</h3>
		<ul>
			<li><a href="https://peopleinaction.us">People in Action</a></li>
			<li>Music Story [测试]</li>
			<li>Water Club [<a href="https://apps.apple.com/us/app/water-club/id1316182475?ls=1">iOS</a>]</li>
			<li><a href="/ratings">Ratings</a></li>
			<li>Animal Countdown [<a href="https://apps.apple.com/us/app/animal-countdown/id1117537696?ls=1">iOS</a> | <a href="https://apps.apple.com/us/app/animal-countdown/id1117246590?ls=1&mt=12">macOS</a>]</li>
		</ul>
	
		<h3>我</h3>
		<ul>
			<li>软件开发人员</li>
			<li>北德克萨斯大学计算机科学系</li>
			<li>前校园组织者 The Humane League</li>
			<li>Disney College Program 明矾</li>
		</ul>
		<h3>联系方式</h3>
		<ul>
			<li>邮箱 me@alexanderrohrig.com</li>
			<li>推特 <a href="https://twitter.com/jawazan">@jawazan</a></li>
			<li><a href="https://www.buymeacoffee.com/BeAQzFbUP">给我买茶</a></li>
		</ul>
		
		<img src="images/IMG_6564.jpeg">
	
	</body>
</html>